	<h2><%= @post.title %></h2>
	<%= image_tag @post.image_url(:thumb).to_s %> <br/> <br/>
	<textarea readonly cols="30" rows="20"><%= @post.content %></textarea><br/>
	<small> 
			Created at: <%= @post.created_at.localtime %>
	</small>
